* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
/* Navigation Section */
header {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1x 5px 5px;
}
#header-img {
  margin-left: 8%;
  height: 132px;
}
header ul {
  text-align: right;
  margin-right: 150px;
}
header ul li {
  list-style: none;
  display: inline-block;
}
header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}
header ul li a:hover {
  text-decoration: underline pink;
  transition: all ease 0.5s;
}
nav {
  width: 100%;
}
#logo-text {
  text-align: justify;
  font-size: 1em;
}
/* Sign Up Form section */
#sign-up-form {
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/pcyr2farv13xd1k5jcgr/nora1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-color: mistyrose;
  font-family: "Lato", Sans-Serif;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 200px;
  margin-top: 20px;
}
input[type="email"] {
  padding: 8px;
  margin: 4px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  width: 100%;
}
input[type="text"] {
  padding: 8px;
  margin: 4px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  width: 100%;
}
.btn {
  width: 100px;
  padding: 5px;
  border: none;
  /* background-color: #bb5477; */
  background-color: #923A57;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* Benefits section */

.benefits {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.18'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.benefits li {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5em;
  list-style-type: none;
}
.benefits span {
  color: #c00779;
}
.benefits h1 {
  font-size: 3em;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: "Lato", Sans-Serif;
}
.benefits strong {
  text-decoration-line: underline;
}
/* PRICING Section*/

#pricing-nav {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.18'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 600px;
}

.pricing-section {
  text-align: center;
  padding: 50px;
  font-size: 2.5rem;
  font-family: "Lato", Sans-Serif;
  text-transform: uppercase;
}

#pricing-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#drop-in,
#pro,
#private {
  background-color: white;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc (100 / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.pricing:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.pricing >.tier {
  background-color: #e660b3;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

/* pricing-txt-btn is for the button and sub-heading or price rate */
.pricing-txt-btn {
  font-size: 1.4rem;
  font-family: "Lato", Sans-Serif;
}

.pricing > ol {
  margin: 15px 0;
  list-style-type: none;
}

.pricing > ol > li {
  padding: 15px;
  width: 250px;
  line-height: 15px;
}

.pricing > ol > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.btn2 {
  width: 100px;
  padding: 5px;
  border: none;
  background-color: #e660b3;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* Video Section */

.video-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background-color: #ceb7f0;
  font-family: "Lato", Sans-Serif;
  height: 350px;
  font-size: 1.05em;
}

.video-section h1 {
  padding: 20px 0;
}

.video-text p {
  width: 450px;
  padding: 10px 0;
  margin-right: 100px;
}
.video-text a {
  float: right;
  margin-right: 110px;
  border-radius: 5px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: black;
}

/* About section */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", Sans-Serif;
  height: 700px;
  background-color: #ceb7f0;
}

.about-text {
  width: 450px;
}

.about-section h3 {
  margin: 20px 0px 40px 0;
  font-size: 2rem;
  text-align: center;
  font-family: "Lato", Sans-Serif;
  text-transform: uppercase;
}

.about-section p {
  margin: 20px;
  text-align: left;
  text-indent: 15px;
  max-width: 1000x;
  font-size: 1.2em;
}

/* Footer Section */

footer {
  padding: 10px;
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 375px) {
  header {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #header-img {
    margin-left: 0px;
    margin-top: 10px;
    height: 120px;
  }

  header ul {
    text-align: center;
    margin: 0;
  }

  header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 4px;
    transition: all ease 0.5s;
  }

  #logo-text {
    font-size: 1.2em;
  }

  #sign-up-form h1 {
    font-size: 1em;
    text-align: center;
  }

  .benefits {
    height: 585px;
    display: flex;
    justify-content: flex-start;
  }

  #benefits h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0px;
  }

  .benefits li {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    font-weight: 100;
  }

  .video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;
    max-width: 375px;
    width: 100%;
  }

  .video-section h1 {
    padding: 5px 0;
  }

  .video-text p {
    width: 300px;
    padding: 10px 0;
    margin-right: 0px;
  }

  #video {
    width: 320px;
    height: 200px;
  }

  #pricing-nav {
    height: 1220px;
  }

  #pricing-boxes {
    display: flex;
    flex-direction: column;
  }

  .classes {
    width: 375px;
  }

  .about-section {
    height: 755px;
  }

  .about-text {
    width: 300px;
  }
}
